
#tiles_container{
    width: 70%;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
  }
.container ul {
    padding: 0px;
    margin: 0px;
  
}

.container ul li {
    float:left;
    list-style: none;
    width:18%;
    height: 180px;
    background: #262262;
    margin :20px 0px 20px 55px; 
    box-sizing: border-box;
    text-align: center;
    border-radius: 16px;
   
}
.container ul li:hover {
    opacity: 0.8;
    background: gray;
}

#tiles_container .bottom {
    width: 90%;
    height:50px;
    line-height: 50px;
    text-align: center;
    float:center;
    color:white;
    font-size: 20px;
    display: table;
    
 }

/*style for training tiles*/
.training_text {
    line-height: 1.2;
    text-align:center;
    margin: 35px 5px 35px 20px;
 
}

@media screen and (max-width:1250px) {
    .container ul li{
        width:40%;
        margin-left: 40px;
         
 }
}
